<%= stylesheet_link_tag 'application.css' %>

<h1>Welcome to our Team Page </h1>

<h2>Team Members: </h2>

<h1 class="animate-character"><%= link_to 'Brandon', '/brandon' %></h1>
</br>
<h1 class="animate-character"><%= link_to 'Michael', '/michael' %></h1>
</br>
<h1 class="animate-character"><%= link_to 'Cubed', '/cubed' %></h1>
</br>
<h1 class="animate-character"><%= link_to 'Evenly', '/evenly' %></h1>
</br>
<h1 class="animate-character"><%= link_to 'Palindrome', '/palindrome' %></h1>
</br>
<h1 class="animate-character"><%= link_to 'Madlib', '/madlib' %></h1>