
<h1> Welcome to our page</h1>
<h2> <%=link_to 'Ira', '/ira'%></h2>
<h2> <%=link_to 'CJ', '/cj'%></h2>
<h2> <%=link_to 'Cubed', '/cubed'%></h2>
<h2> <%=link_to 'Evenly', '/evenly'%></h2>
<h2> <%=link_to 'Palindrome', '/palindrome'%></h2>
<h2> <%=link_to 'MadLib', '/madlib'%></h2>
