<h1>Welcome to Our Home Page</h1>

<h2><%= link_to "Yahya", "/yahya" %></h2>
<h2><%= link_to "Aaron", "/aaron" %></h2>
<h2><%= link_to "Cubed", "/cubed?number=5" %></h2>
<h2><%= link_to "Evenly", "/evenly?number=5&number2=5" %></h2>
<h2><%= link_to "Palindrome", "/palindrome?string=dog" %></h2>
<h2><%= link_to "Madlib", "/madlib?noun=dog&verb=play basketball&adjective=friendly&adverb=poorly" %></h2>